#about {
    display: flex;
    justify-content: center;
    padding-top: 9.5rem;
    padding-bottom: 15rem;
}
.about_container {
    display: flex;
    text-align: center;
    gap: 8rem;
}
.about_profile {
    border-radius: 50px;
    height: 30rem;
    width: 17rem;
    border-bottom: 1px solid var(--clr-rose);
    border-top: 1px solid var(--clr-rose);

}
.about_container1 {
    width: 40rem;
    text-align: left;
}

.about_container1 h1 {
  color: var(--clr-light);
}
.about_container1 p {
  color: var(--clr-slate600);
  font-size: 1.2rem;
}

.progress-container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}
.progress-label {
    margin-bottom: 5px;
    color: var(--clr-light);
}
.progress-bar {
    width: 70%;
    background-color: var(--clr-slate600);
    border-radius: 5px;
    overflow: hidden;
}
.progress-bar-inner {
    height: 25px;
    border-radius: 5px;
    text-align: right;
    padding-right: 10px;
    line-height: 25px;
    color: var(--clr-light);
}
.frontend {
    width: 80%;
    background-color: var(--clr-rose);
}
.backend {
    width: 80%;
    background-color: var(--clr-rose);
}
.design {
    width: 70%;
    background-color: var(--clr-rose);
}

#more {
  margin-top: 2.5rem;
}