#contact {
    text-align: center;
    padding-bottom: 20rem;
    margin-top: -2rem;
    color: var(--clr-light);
    padding-top: 5rem;
}

.contact_ul {
  margin-top: 4rem;
}

#contact div {
  color: var(--clr-slate600);
  margin-top: 2rem;
}

.contact_ul li {
    list-style: none;
  }
  
  .contact_ul li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: var(--clr-slate800);
    border-radius: 50%;
    font-size: 30px;
    color: var(--clr-slate600);
    transition: .5s;
  }
  
  .contact_ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--clr-rose);
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }
  
  .contact_ul li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px var(--clr-rose);
  }
  
  .contact_ul li a:hover {
    color: var(--clr-rose);
    box-shadow: 0 0 5px var(--clr-rose);
    text-shadow: 0 0 5px var(--clr-rose);
  }

  .fab, .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }