#das {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
    background-color: var(--clr-light);
}

.excelsheet {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    height: 50rem;
    width: 75rem;
    margin-top: 2rem;
    border: 3px solid black;
}
