#das {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 10rem;
    background-color: var(--clr-light);
}

.excelsheet {
    margin-top: 2rem;
    width: 90%;
    height: 35rem;
    border: 3px solid black;
}
