header {
    display: flex;
    align-items: center;
    background-color: var(--clr-dark);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: top 0.3s ease;
}
#header {
  padding: 1rem;
}
.header_title {
    color: var(--clr-slate600);
    cursor: pointer;
    margin-left: 5rem;
}
.header_title:hover {
    color: var(--clr-rose);
    transition: ease-in-out 0.3s;
}

.buttonDownload {
    display: inline-block;
    position: absolute;
    padding: 10px 25px;
    background-color: var(--clr-rose);
    color: var(--clr-light);
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
    right: 3rem;
    cursor: pointer;
    border-radius: 5px;
   }
   
   .buttonDownload:hover {
      background-color: var(--clr-rose);
      color: var(--clr-light);
      transition: ease-in-out 0.3s;
   }
   
   .buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
   }
   
   .buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
   }
   
   .buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
   }
   
   .buttonDownload:hover:before {
    border-color: var(--clr-light);
   }
   
   .buttonDownload:hover:after {
    border-top-color: var(--clr-light);
    animation-play-state: running;
   }
   
   @keyframes downloadArrow {
    0% {
     margin-top: -7px;
     opacity: 1;
    }
   
    0.001% {
     margin-top: -15px;
     opacity: 0.4;
    }
   
    50% {
     opacity: 1;
    }
   
    100% {
     margin-top: 0;
     opacity: 0.4;
    }
   }

   .header_link {
    background-image: linear-gradient(
      to right,
      var(--clr-rose),
      var(--clr-rose) 50%,
      var(--clr-slate600) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    font-weight: 550;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .header_link:before{
    content: '';
    background: var(--clr-rose);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .header_link:hover {
   background-position: 0;
  }
  
  .header_link:hover::before{
    width: 100%;
  }
  
  .bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: var(--clr-slate600);
    margin: 6px 0;
    transition: 0.4s;
  }

  .cvcf {
    background-color: var(--clr-light);
    position: fixed;
    right: 1rem;
    padding: 10px;
    border-radius: 15px;
    margin-top: 5rem;
    cursor: pointer;
    z-index: 9999;
    height: 14rem;
  }

  .cvcf li a {
    color: var(--clr-slate600);
  }

  .nsjdf {
    background-color: var(--clr-rose);
    border: none;
    padding: 5px 30px;
    border-radius: 8px;
    color: var(--clr-light);
    width: 100%;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
  }

  .cvfdg {
    position: absolute;
    right: 3rem;
    display: none;
  }

  #menu {
    display: none;
  }