@media screen and (max-width: 600px){
    .nav, 
    .buttonDownload {
        display: none;
    }
    .header_title {
        margin-left: -1px;
    }
    #hero {
        text-align: center;
    }
}